importFrom(shapley, shapley)
importFrom(iopsych, relWt)
importFrom(polycor, hetcor)
importFrom(randomForest, randomForest, importance)
importFrom(MASS, polr)
importFrom(xgboost, xgboost, xgb.importance, xgb.DMatrix)
importFrom(fastshap, explain)
importFrom(stats, cor, lm, glm, binomial, coef, complete.cases, as.formula, setNames)
export(kda)
S3method(print, kda)
